<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fiap.sosclick"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- RECURSOS DE PERMISSÕES SOS CLICK -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- FIM -->
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.fiap.sosclick.view.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".view.MenuActivity"
            android:label="@string/menu" >
        </activity>
        <activity
            android:name=".view.UsuarioActivity"
            android:label="@string/usuario" >
        </activity>
        <activity
            android:name=".view.PlanodesaudeActivity"
            android:label="@string/planodesaude" >
        </activity>
        <activity
            android:name=".view.SaudeActivity"
            android:label="@string/saude" >
        </activity>
        <activity
            android:name=".view.SocorristasActivity"
            android:label="@string/socorristas" >
        </activity>
        <activity
            android:name=".view.InformacoesActivity"
            android:label="@string/informacoes" >
        </activity>
        <meta-data 
            android:name="com.facebook.sdk.ApplicationId" 
            android:value="@string/facebook_app_id"/>
        </application>

</manifest>
